:root {
    --color-accent: #9b2828;
    --color-accent-light: #bb3232;
    --color-valid: #53ce3b;
    --color-invalid: #d34545;
    --color-background: #2e2e2e;
    --color-background-darker: #300202;
    --color-text: #e2e2e2;
}

* {
    color: var(--color-text);
    box-sizing: border-box;
    margin: 0px;
    font-family: "Inter", serif;
}

p, li{
    font-size: 25px;
}

h1, h3, h2, button{
    font-family: "Cinzel Decorative", "Inter", serif;
}

h2 {
    font-size: 1.35rem;
}

body {
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

header {
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    background-color: var(--color-background-darker);
}

#title-container {
    display: flex;
    flex-direction: column;
}

#title {
    font-size: 70px;
}

#sub-title {
    padding-left: 5px;
    letter-spacing: 1.5px;
    word-spacing: 1px;
}

nav {
    min-width: 0px;
    height: max-content;
    display: flex;
    align-items: center;
    gap: 0px;
}

nav > button {
    min-width: max-content;
    width: max-content;
    padding: 30px;
    background-color: var(--color-background-darker);
    font-size: xx-large;
    font-weight: 700;
    border: none;
}

nav > button:hover {
    color: var(--color-accent)
}

nav > button.clicked {
    color: var(--color-accent-light)
}

#content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background-darker);
}

#container {
    height: 600px;
    width: 1200px;
    padding: 50px;
    background-color: #290000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    justify-content: space-between;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px  10px #eb7070;
}

#text-container {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#home-picture {
    align-self:center;
    justify-self: center;
    max-width: 100%;
    max-height: 100%;
    display: block;
}
