@keyframes shrink {
  from {
  }

  to {
    transform: scaleY(0.6);
  }
}

@keyframes moves {
  from {
    transform: translate(0px, 0px);
  }

  to {
    transform: translate(175px, -57px);
  }
}

@keyframes move-up {
  to {
    transform: translate(0px, -30px);
  }
}

.pseudo-header {
  height: 160px;
  position: sticky;
  top: 0px;
  background-color: var(--color-secondry);
  transform-origin: top;
  will-change: transform;
  animation: shrink forwards;
  animation-timeline: scroll();
  animation-range: entry 2% 30%;
}

.header {
  color: var(--color-primary);
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
}

.logo {
  line-height: 57px;
  font-size: 2rem;
  padding: 20px;
}

.logo:hover {
  text-decoration: none;
}

.logo > h1:nth-child(2) {
  width: fit-content;
  padding-left: 54px;
  will-change: transform;
  animation: moves forwards;
  animation-timeline: scroll();
  animation-range: entry 2% 30%;
}

.nav {
  display: flex;
  gap: 20px;
  margin-left: 100px;
  will-change: transform;
  animation: move-up forwards;
  animation-timeline: scroll();
  animation-range: entry 2% 30%;
}

.nav > a {
  font-size: 3rem;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
}

.cart {
  display: flex;
  gap: 20px;
}

.cart > span {
  font-weight: 200;
}

.counter {
  position: absolute;
  top: 0;
  right: 0;
}

.counter > p {
  color: var(--color-text);
  position: absolute;
  font-size: 1.5rem;
  font-weight: 600;
  top: 2px;
  right: -11px;
}

.counter > span {
  position: absolute;
  color: oklch(68.586% 0.20309 24.187);
  top: -11px;
  right: -20px;
  font-size: 2.6rem;
}

@media (width <= 1600px) {
  .header {
    padding: 0px 30px;
  }
}

@media (width > 1600px) {
  .header {
    padding: 0px 200px;
  }
}
