* {
    margin: 0px;
    padding: 0px;
}

::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}

dialog[open] {
    align-self: center;
    justify-self: center;
}

.new-book-form {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.library {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 15px;
}

.book {
    padding: 5px 15px;
    border: 2px solid black ;
}

.book .title {
    min-width: max-content;
}

.book * {
    margin: 10px 0px;
}