* {
  font-size: 34px;
}

html {
  background-color: #e8c7b3;
}

body {
  width: 1000px;
  margin: auto;
  padding: 100px 50px 700px 50px;
  background-color: #f0a171;
}

.home {
  display: block;
  text-align: center;
}

h1 {
  font-size: 82px;
}

h3 {
  font-size: 36px;
}

h1, h2, h3 {
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}


