:root {
  background-color: #042600;

  --color-primary: #cab340;
}

* {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgb(234, 234, 234);
  margin: 0;
  box-sizing: border-box;
}

header > p {
  padding: 40px 300px 40px 300px;
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--color-primary);
}

.line {
  width: 100%;
  display: flex;
  justify-content: right;
  top: 10vh;
}

.line svg {
  width: 100%;
  display: block;
}

.line img {
  position: absolute;
  width: 15%;
  margin-right: 15%;
  transform: translateY(-52.5%);
}

.stats {
  padding: 30px 300px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.stats .score {
  font-size: 2.5rem;
}

.stats .record {
  font-size: 1.1rem;
  color: #8a8686;
}

.stats > p {
  font-size: 1.7rem;
  color: #8a8686;
}

main {
  display: flex;
  justify-content: center;
}

.anouncement {
  font-size: 5rem;
}

.tiles {
  padding-top: 40px ;
  width: 100%;
  max-width: 1350px;
  align-self: center;
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
  justify-items: center;
  gap: 1rem
}

.tile {
  display: flex;
  border: 5px solid green;
  border-radius: 30px;
  height: 200px;
  width: 200px;
  align-items: center;
  justify-items: center;
}

.tile img {
  width: 100%;
}

footer {
  padding-top: 100px;
}

footer svg {
  width: 100%;
}

footer p {
  text-align: center;
  color: #6e611e;
  font-size: 1.5rem;
}
