header {
  position: relative;
  background-color: var(--color-primary);
  min-height: 230px;
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  color: var(--color-accent);
  font-family: "Lobster";
  font-weight: 500;
  font-size: 6rem;
}

.nav {
  top: 0;
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.5rem;
}

.nav > * {
  padding: 8px 40px;
}

.auth-nav {
  display: flex;
  gap: 28px;
}
