* {
    margin: 0px;
    color: aliceblue;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(66, 66, 66);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

#header {
    padding: 0px 50px;
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
}

.player {
    display: flex;
    gap: 10px;
}

.title {
    margin: 50px 0px;
    min-width: max-content;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 150px));
    gap: 10px;
}

#game-board > * {
    aspect-ratio: 1;
}

.cell {
    border: 10px solid orange;
}

.o {
    background-image: url(picture/circle.svg);
    background-repeat: no-repeat;
    background-size: 100%, 100%;
}

.x {
    background-image: url(picture/cross.svg);
    background-repeat: no-repeat;
    background-size: 100%, 100%;
}

button {
    height: 50px;
    width: 250px;
    margin: 50px;
    color:black;
  appearance: none;
    -webkit-appearance: none;
  font-family: sans-serif;
  cursor: pointer;
  padding: 12px;
  border: 0px;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
     transition: background-color 100ms linear;
    border-radius: 20px;
    background-color: orange;
}