.card {
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  background-color: var(--color-light-primary);
  padding: 20px 12px 12px 12px;
  box-shadow: 0px 0px 5px grey;
}

.card > img {
  height: 300px;
  object-fit: contain;
}

.content {
  width: 100%;
  flex: 1;
}

.content > h3 {
  font-size: 1.6rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.content > p {
  font-size: 1.1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  margin-top: 12px;
  padding-left: 4px;
}

.payment {
  width: 100%;
  display: flex;
}

.payment > p {
  font-size: 2rem;
  margin-right: auto;
}

.payment > input {
  width: 50px;
  margin-right: 10px;
  text-align: center;
  font-size: 1.3rem;
  border: 1px solid var(--color-secondry);
  box-shadow: 5px 5px 0px black;
  /* box-shadow: 5px 5px 0px black; */
}

.payment > input:focus {
  outline: none;
  box-shadow: none;
  transform: translate(2px, 2px);
}

.payment > button {
  color: var(--color-light-primary);
  background-color: var(--color-secondry);
  font-size: 1.4rem;
  padding: 5px 20px;
  font-weight: 600;
  border: none;
  border: 2px solid var(--color-secondry);
  position: relative;
  box-shadow: 5px 5px 0px black;
}

.payment > button:hover {
  color: var(--color-secondry);
  background-color: var(--color-light-primary);
  border: 2px solid var(--color-secondry);
}

.payment > button:active {
  transform: translate(2px, 2px);
  box-shadow: none;
}
