:root {
  --color-background: oklch(95.01% 0 89.88);
  --color-text: oklch(12.01% 0.045 284.57);
  --color-primary: oklch(84.681% 0.05559 69.604);
  --color-light-primary: oklch(92% 0.05559 69.604);
  --color-secondry: oklch(40.706% 0.0827 57.192);
  --color-accent: oklch(64.97% 0.158 22.5);

  --shadow-header: 0px 0px 10px grey;

  color: var(--color-text);
}

body {
  background-color: var(--color-background);
}

a {
  color: var(--color-secondry);
  text-decoration: none;
}

a:hover {
  color: var(--color-secondry);
  text-decoration: underline;
}

.material-icons {
  font-family: "Material Icons";
  font-size: 3.5rem;
  font-weight: 100;
}
